html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100dvh;
    background-color: #D7DED3;
    font-family: 'Poppins';
    display: grid;
    place-items: center;
}

section {
    background: white;
    padding: 3em;
    border-radius: .8em;
    display: flex;
    flex-direction: column;
    gap: 6.6rem;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.left-col {
    display: flex;
    flex-direction: column;
    height: auto;
    flex: .6;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

p {
    font-size: 2rem;
}

a.cta {
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    color: #406A29;
    font-weight: bold;
    margin-top: auto;
}

a.cta p {
    margin: 0;
}

.right-col {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 13px;
}


.hide-mobile {
    display: none;
}

.box {
    width: calc(50% - 7px);
    aspect-ratio: 176/141;
    gap: 1em;
    border-radius: .6em;
}

.box:nth-of-type(1) {
    background-image: url('../assets/drum1.jpg');
    background-size: cover;
}

.box:nth-of-type(2) {
    background-image: url('../assets/drum2.jpg');
    background-size: cover;
}

.box:nth-of-type(3) {
    background-color: #D0E1BB;
}

.box:nth-of-type(4) {
    display: none;
}

.box:nth-of-type(5) {
    background-color: #BBC8E1;
    display: none;
}

.box:nth-of-type(6) {
    background-image: url('../assets/drum3.jpg');
    background-size: cover;
}

@media screen and (min-width: 800px) {

    section {
        padding: 6rem;
    }

    h1 {
        font-size: 4rem;
    }

    .box {
        width: calc(33% - 2em);
        aspect-ratio: 182/146;
        flex-grow: 1;
    }

    .box:nth-of-type(4),
    .box:nth-of-type(5) {
        display: block;
    }

    .right-col {
        gap: 20px;
    }
}

@media screen and (min-width: 1200px) {

    section {
        flex-direction: row;
    }
}