body {
    font-family: "Playfair Display";
    padding: 13.4rem 0 0 7.68rem;
    margin: 0;
}

h1 {
    font-size: 2rem;
    margin: 0 0 4.25rem 0;
}

h1 span {
    color: #07801E;
}

.container {
    display: flex;
    gap: 2em;
    margin: 0 2rem 2rem 0;
    height: 200px;
}

img {
    max-width: 100%;
    max-width: 285px;
    height: auto;
    flex: 1;
    object-fit: cover;
    border-radius: 10px;
}

.second {
    flex-grow: 2;
}